@model Inv.Common.Models.Item

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Item</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.MeasureUnit.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.MeasureUnit.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Barcode)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Barcode)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ImagePath)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ImagePath)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.IsAvailable)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.IsAvailable)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
	@Html.ActionLink("Back to List", "Index")
</p>