@model IEnumerable<Inv.Common.Models.MeasureUnit>

@{
    ViewBag.Title = "Index";
}

<h2>Units of Measurement</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MeasureUnitId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MeasureUnitId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MeasureUnitId })
        </td>
    </tr>
}

</table>
